# CoCo credentials
CTP_AUTH_URL=https://auth.[region].commercetools.com
CTP_API_URL=https://api.[region].commercetools.com
CTP_SESSION_URL=https://session.[region].commercetools.com
CTP_CLIENT_ID=[composable-commerce-client-id]
CTP_CLIENT_SECRET=[composable-commerce-client-secret]
CTP_PROJECT_KEY=[composable-commerce-project-key]
CTP_JWKS_URL=https://mc-api.[region].commercetools.com/.well-known/jwks.json
CTP_JWT_ISSUER=https://mc-api.[region].commercetools.com

# Merchant return URL for redirecting the user back to the merchant website after the payment is completed
# Use it as a fallback if no merchantReturnUrl is provided in the session
MERCHANT_RETURN_URL=[Merchant-website-return-url]

# Briqpay credentials
BRIQPAY_USERNAME=[username]
BRIQPAY_SECRET=[secret]

#HOOK URL

PREVIEW_HOSTNAME=s
# Briqpay API url
BRIQPAY_BASE_URL=https://playground-api.briqpay.com/v3

# Your terms url
BRIQPAY_TERMS_URL=https://example.com/terms

# Your ecommerce storefront order confirmation url
BRIQPAY_CONFIRMATION_URL=https://[WEBSITE_URL]/order-confirmation

# Custom Type Key Name for Briqpay Sessions
BRIQPAY_SESSION_CUSTOM_TYPE_KEY=briqpay-session-id

# URL to receive the payment status updates webhooks (processor URL)
URL=https://[PLUGIN_URL]/notifications
